@import "./parciales/variables";
@import "./parciales/reset";
@import "./parciales/header";
@import "./parciales/footer";
@import "./parciales/home";
@import "./parciales/sobre-mi";
@import "./parciales/servicios";
@import "./parciales/opiniones";
@import "./parciales/contacto";
@import "./parciales/media-queries";